<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide weather data</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide accurate weather information.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to save and retrieve outfit photos.</string>
	<key>NSCameraUsageDescription</key>
	<string>ClimateCloset needs access to your camera to add new clothing items.</string>

</dict>
</plist>
